/* TODO: refactoring all it. Maybe using SCSS and BEM. */

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 30px;
  /* TODO: read about relative values */
  min-height: 100vh;

  background: #D95450;
  color: #E1F7E7;

  /* TODO: add the font from Google Fonts */
  font-family: 'Lato';
  text-align: center;

  transition: background 1s;
}

.work-pomodoro {
  background: #D95450;
}

.short-break-pomodoro,
.long-break-pomodoro {
  background: #5DA0C2;
}

.button {
  cursor: pointer;
  outline: 0;
  border: 0;
}

.icon {
  width: 32px;
  height: 32px;
}

.layout-row-max {
  flex-grow: 1;
}

.menu-row {
  height: 44px;
}

.flex-end {
  justify-content: flex-end;
}

.menu-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stop-pomodoro-button {
  width: 44px;
  height: 44px;
  background: url("../icons/close.svg");
  background-size: 44px;
}

.stop-pomodoro-button-hided {
  display: none;
}

.settings-button {
  background: url("../icons/menu.svg");
  background-size: 32px 32px;
}

.pomodoro-status-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.timer-control-row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
  user-select: none;
}

.pomodoro-controls {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer-control-status {
  font-size: 40px;
}

.pomodoro-progress-row {
  /* width: 75%; */
  cursor: pointer;
}

.copyright-row {
  padding: 16px 0;
  font-size: 12px;
  opacity: 0.75;
}

.settings-row {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

.settings-layout {
  background-color: #152034;
}

.settings-header {
  text-align: center;
}

.settings-label {
  display: block;
  margin-bottom: 48px;
}

.settings-label-text {
  display: block;
  margin-bottom: 6px;
}

.settings-text-input {
  /* Reset default style of Chrome */
  /* TODO: use reset.css or normalize */
  outline: 0;
  box-sizing: border-box;

  padding: 8px 4px;
  width: 100%;

  color: #E1F7E7;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #E1F7E7;

  font-family: 'Lato';
  font-size: 26px;
}

.settings-text-input::-webkit-inner-spin-button,
.settings-text-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings-checkbox-input {
  /* TODO: Style checkboxes */
  outline: 0;
  cursor: pointer;
}

.settings-select {
  outline: 0;
  cursor: pointer;

  padding: 8px 4px;
  width: 100%;

  color: #E1F7E7;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #E1F7E7;

  font-family: 'Lato';
  font-size: 26px;
}

.settings-select-option {
  background: #152034;
}

.settings-range {
  /* TODO: Style range */
  width: 100%;
}

.save-button {
  display: block;
  margin: 0 auto;
  padding: 16px;

  width: 75%;
  min-width: 50px;
  min-height: 40px;

  color: #E1F7E7;
  background: transparent;
  border: 2px solid #E1F7E7;

  font-family: 'Lato';
  font-size: 22px;
  font-weight: bold;
}
